@charset "utf-8";
/* CSS Document */
body {
    padding:0px;
    margin:0px;
    font-family:arial;
    font-size:12px;
}

h1 {
    font-weight:normal;
    padding: 0px;
    margin: 0px;
    color: #ff7700;
}

.head	{
    margin:0 auto;
    width:780px;
    height:60px;
}
.logo	{
    width:472px;
    height:55px;
}

/* =============================================================================
 * NAV - TABS
 * =============================================================================
*/

.nav	{
    padding-top:9px;
    width:100%;
    height:40px;
    background:url(../images/tabgreen.gif) repeat-x;
    margin-bottom: 5px;
}

.innav	{
    margin:0 auto;
    width:780px;
    height:26px;
}

.innav_tab {
    padding: 2px 20px 0 30px;
    float:left;
    height:24px;
    border-left:1px solid #fff;
}

.innav_tab a{
    font-weight:700;
    text-decoration:none;
}

.innav_tab_focus {
    background:url(../images/light.png) repeat-x bottom;
}

.innav_tab:hover	{
    background:url(../images/light.png) repeat-x bottom;
}

.page	{
    margin:0 auto;
    width:780px;
}
.page_c	{
    margin:0 auto;
    width:780px;
	height:700px;
}

.page_regis{
    margin: 0 auto;
}

.regis_mail{
    margin: 2px auto;
    float: left;
}

.regis_left{
    margin: 5px auto;
    float: left;
}
/* =============================================================================
*  SUB PAGE 1
*  =============================================================================
*/

.subpage1	{
    padding-bottom: 5px;
    border-bottom:1px solid #CCC;
    height: 180px;
}

.subpage1_1	{
    float:left;
    width:550px;
}
.subpage1_1_1	{
    text-decoration:none;
    font-family:arial;
    height:35px;
	font-size:12px;
}

.subpage1_1_2 li  {
    width:490px;
    margin-top: 4px;
    color: #666666;
}

.share	{
    position: relative;
    top:-3px;
    margin-left: 10px !important;
    width:100px !important;
}
.fb_share_count_nub_right {
   margin-top: 15px !important;
}
.subpage1_2	{
    margin-top:10px;
    margin-left: 20px;
    float:left;
    width:200px;
}
.bordersub	{
    margin:0 auto;
    width:200px;
    height:130px;
    border:1px solid #ccc;
}
.bordersub2	{
    padding-top:10px;
    margin:4px;
    width:192px;
    height:112px;
    background:#ebebeb;

}
.buttonq {
    -moz-border-radius:5px 5px 5px 5px;
    margin:0 auto;
    width:100px;
    background:url(../images/btt.gif) repeat-x;
    border:1px solid #C00;
    text-align:center;
    color:#FFF;
    font-weight:700;
    text-decoration:none;
    font-size:14px;
}
.buttonreg	{
    padding-top:10px;
    -moz-border-radius:3px 3px 3px 3px;
    margin:0 auto;
    width:130px;
    height:25px;
    background:url(../images/btt.gif) repeat-x;
    border:1px solid #C00;
    text-align:center;
    color:#FFF;
    font-weight:700;
    text-decoration:none;
    font-size:14px;
}

.detailreg  {
    text-align:center;
}

/* =============================================================================
*  BFORE2
*  =============================================================================
*/

.bfore2  {
    padding: 7px 0 7px 0;
    border-bottom:1px solid #CCC;
    height: 250px;
}

.bfore2_detail_l   {
    margin: 10px 0 0 10px;
    float:left;
    height: 60px;
    width: 60px;
}
.bfore2_detail_r   {
    float: left;
    margin-left: 10px;
    width:305px;
    border-right:1px dashed #ccc;
}

.bfore2_detail_r_top {
    margin: 5px 0 0 0;
}

.step_r_btm  li  {
    width: 230px;
    margin-top: 4px;
    color: #666666;

}
.bfore2_detail_r_btm  li  {
    width: 230px;
    margin-top: 4px;
    color: #666666;
}

.step_l   {
    margin: 10px 0 10px 5px;
    float:left;
    height: 60px;
    width: 60px;
}

.step_r   {
    margin:5px 0 0 10px;
    float:left;
    width:305px;
}

.step_r_top   {
    margin:5px 0 0 2px;
    width:285px;
}

.step_r_btm   {
    width:285px;
}

/* =============================================================================
*  SUB PAGES
*  =============================================================================
*/

.subpage3	{
    padding-top:10px;
    height:360px;
}

.subpage3_1     {
    float:left;
    width:370px;
}

.subpage3_1_1     {
    padding:3px 0 0 40px;
    height:50px;
    background:url(../images/fb.png) no-repeat;
}

.subpage3_2     {
    margin-left:20px;
    float:left;
    width:370px;
}

.subpage3_2_1     {
    padding-top: 3px;
    padding-left: 40px;
    margin-left:20px;
    height:50px;
    background:url(../images/gc.png) no-repeat;
}

.calendar_link {
    font-size: 11px;
    color:#333333;
}

.calendar_link a {
    text-decoration:underline;
}

/* =============================================================================
*  FOOTER
*  =============================================================================
*/

.footer	{
	margin-top:7px;
	border-top:1px solid #CCC;
    padding-top:7px;
    height:30px;
}

.foottop {
    padding: 0 30px 0 30px;
    float: left;
    border-left: 1px solid #CCCCCC;
}

.foottop a {
    text-align: center;
    text-decoration: none;
    color: #909090;
}
/* mouse over */
.foottop a:hover {
    color: #000;
}

.foottop4 {
    float:right;
    text-decoration: none;
    color: #909090;
}

.subpage_map_1	{
    margin: 0 auto;
    width:778px;
    height:450px;
    border-bottom:1px solid #999;

}
.subpage_map_2	{
    padding-top: 20px;
    margin: 0 auto;
    width:778px;
    height:570px;


}

.button{
    background-color:#ADADAD;
    border-bottom-color: #8B8B8B;
    font-size:11px;
    font-weight:bold;
    padding:2px 6px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    color:#333333;
}

.error{
    line-height: 15px;
    text-align: center;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:11px;
    padding:7px 3px;
    margin: 10px auto;
    border-color: #DD3C10;

}

.regis_head{
    width: 250px;

    margin: 0 0 0 170px;
}