<div class="about-us">
    <div class="page-header header-filter" data-parallax="active"
         style="background-image: url('https://files.slack.com/files-pri/T1V5STT9N-F27M3UK5X/10842332_936253786399315_1275497118432717658_o.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>เกี่ยวกับ CSAG</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised text-center">
        <div class="container">
            <div class="row" style="margin-top: 50px">
                <h1>What is CSAG?</h1>
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">accessibility</i>
                            </div>
                            <h4>Freedom</h4>
                            <p>อิสระในการเรียนรู้</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">group</i>
                            </div>
                            <h4>Friend</h4>
                            <p>เพื่อน และ สังคมแห่งการแบ่งปัน</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="material-icons">dns</i>
                            </div>
                            <h4>Feature</h4>
                            <p>ทรัพยากร เพื่อการเรียนรู้</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-warning">
                                <i class="material-icons">toys</i>
                            </div>
                            <h4>Fun</h4>
                            <p>สนุก และ เรียนรู้ไปด้วยกัน</p>
                        </div>
                    </div>
                </div>
                <h4>CSAG ย่อมาจาก Computer System Administrator Group
                    เป็นการรวมกลุ่มนักศึกษาในสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                    ที่มีความสนใจเกี่ยวกับคอมพิวเตอร์ เพื่อแบ่งปันความรู้และประสบการณ์และความรู้ต่างๆ
                    นอกจากนี้ยังเป็นกลุ่มนักศึกษาที่พัฒนาและดูแลบริการเว็บไซต์ต่างๆสำหรับนักศึกษาในสถาบันอีกด้วย
                </h4>
            </div>
            <div class="row" style="margin-top: 50px">
                <h1>Our History</h1>
                <img src="https://files.slack.com/files-pri/T1V5STT9N-F27LSFE20/csc.jpg"
                     style="width: 70%;margin-bottom: 30px;margin-top: 30px">
                <h4>ที่มาของ CSAG
                    CSAG ก่อตั้งขึ้นในปี พ.ศ.2549
                    โดยเกิดจากการรวมกลุ่มนักศึกษาที่สนใจทางด้านคอมพิวเตอร์และเข้ามาช่วยเหลืองานของสำนักบริการคอมพิวเตอร์ในขณะนั้น
                    จากความสนใจร่วมกันดังกล่าวทำให้มีการอบรมแลกเปลี่ยนความรู้
                    ซึ่งต่อยอดและพัฒนามาเป็นบริการเทคโนโลยีสารสนเทศต่างๆให้กับสถาบัน
                    และเพื่อให้เกิดความหลากหลายและสานต่อองความรู้ต่างๆ
                    ได้มีการเปิดรับสมาชิกใหม่ซึ่งเป็นนักศึกษาชั้นปีที่ 1 ในช่วงการเปิดภาคเรียนใหม่
                    โดยไม่จำกัดทั้งสาขาและคณะ<br/>

                </h4>
            </div>

            <div class="row">
                <div class="col-md-12" style="margin-bottom: 30px">
                    <h1>Member</h1>
                </div>

                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h2 class="pull-left" style="margin-top: 50px">Alumni</h2>
                    <div style="clear: both"></div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h2 class="pull-left" style="margin-top: 50px">Senior</h2>
                    <div style="clear: both"></div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top: 30px">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img"
                                     src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/13653185_1249572351734122_3287366083590406661_o.jpg">
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">CEO</h6>

                            <h4>Passakon Puttasuwan</h4>

                            <p class="card-description">
                                ไปด้วยกันไปได้ไกล
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-google btn-round"><i
                                        class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
