<div class="box">
    <div class="content registerBox" style="display:none;">
        <div class="form">
            <form method="post" action="#" accept-charset="UTF-8" role="form">
                <div class="form-group label-floating ">
                    <label class="control-label">ชื่อ</label>
                    <input class="form-control" type="text"
                           name="name" required="">
                    <span class="material-input"></span></div>
                <div class="form-group label-floating ">
                    <label class="control-label">เบอร์โทร</label>
                    <input class="form-control" type="tel"
                           name="name" required="">
                    <span class="material-input"></span></div>


                <div class="form-group label-floating ">
                    <label class="control-label">อีเมล</label>
                    <input class="form-control" type="text"
                           name="email" required="">
                    <span class="material-input"></span></div>


                <div class="form-group label-floating ">
                    <label class="control-label">รหัสผ่าน</label>
                    <input id="password" class="form-control" type="password" name="password"
                           required="">
                    <span class="material-input"></span>
                    <span class="material-input"></span></div>


                <div class="form-group label-floating">
                    <label class="control-label">ยืนยันรหัสผ่าน</label>
                    <input id="re_password" class="form-control" type="password" name="repassword"
                           required="">
                    <span class="material-input"></span>
                    <span class="material-input"></span></div>
                <select class="form-control">
                    <option>กรุณาเลือกคณะ</option>
                    <option>วิทยาศาสตร์</option>
                    <option>วิศวกรรมศาสตร์</option>
                    <option>เทคโนโลยีสารสรเทศ</option>
                </select>
                <div class="text-center">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        หญิง
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        ชาย
                    </label>
                </div>


                <button class="btn btn-info btn-block btn-register" type="submit"
                        style="margin-top: 20px">ลงทะบียน
                </button>
            </form>
        </div>
    </div>
</div>
