<div class="about-us">
    <div class="page-header header-filter" data-parallax="active"
         style="background-image: url('https://files.slack.com/files-pri/T1V5STT9N-F27MB8H1N/logobg.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>ผลงาน CSAG</h1>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised text-center">
    <div class="container" style="padding-top: 60px;padding-bottom: 50px">
        <h1>Product</h1>
        <div class="row" style="margin-top: 50px">
            <div class="col-md-6">

                <div class="card card-background" style="background-image: url('https://files.slack.com/files-pri/T1V5STT9N-F27KMSCE7/webboard.png')">

                    <div class="content">

                        <a href="#pablo">
                            <h3 class="card-title">Web Board</h3>
                        </a>
                        <p class="card-description">
                            KMITL Webboard เป็นเว็บบอร์ดกลางของสถาบันสำหรับประกาศข่าวสาร เป็นแหล่งพบปะ พูดคุย
                            รวมถึงการตั้งกระทู้ถาม หรือสอบถามข้อมูลในหัวข้อต่างๆ ระหว่างนักศึกษา, อาจารย์,
                            บุคลากรภายในสถาบัน
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-background" style="background-image: url('https://files.slack.com/files-pri/T1V5STT9N-F27MDD0HX/pasted_image_at_2016_09_02_07_09_pm.png')">
                    <div class="content">
                        <h3 class="card-title">KMI.TL</h3>
                        <p class="card-description">
                            KMI.TL เป็นบริการย่อ URL ให้สั้นลงภายใต้ kmi.tl/...
                            ซึ่งเปิดให้ใช้บริการได้ทั่วไป แต่ห้ามใช้เพื่อก่อให้เกิดหรือมีความผิดต่อกฎหมายเด็ดขาด
                        </p>

                    </div>
                </div>
            </div>
 <div class="col-md-6">

                <div class="card card-background" style="background-image: url('https://files.slack.com/files-pri/T1V5STT9N-F27KMSCE7/webboard.png')">

                    <div class="content">

                        <a href="#pablo">
                            <h3 class="card-title">Web Board</h3>
                        </a>
                        <p class="card-description">
                            KMITL Webboard เป็นเว็บบอร์ดกลางของสถาบันสำหรับประกาศข่าวสาร เป็นแหล่งพบปะ พูดคุย
                            รวมถึงการตั้งกระทู้ถาม หรือสอบถามข้อมูลในหัวข้อต่างๆ ระหว่างนักศึกษา, อาจารย์,
                            บุคลากรภายในสถาบัน
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-background" style="background-image: url('https://files.slack.com/files-pri/T1V5STT9N-F27MDD0HX/pasted_image_at_2016_09_02_07_09_pm.png')">
                    <div class="content">
                        <h3 class="card-title">KMI.TL</h3>
                        <p class="card-description">
                            KMI.TL เป็นบริการย่อ URL ให้สั้นลงภายใต้ kmi.tl/...
                            ซึ่งเปิดให้ใช้บริการได้ทั่วไป แต่ห้ามใช้เพื่อก่อให้เกิดหรือมีความผิดต่อกฎหมายเด็ดขาด
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="card card-background"
                     style="background-image: url('https://files.slack.com/files-pri/T1V5STT9N-F27KMSCE7/webboard.png')">

                    <div class="content">

                        <a href="#pablo">
                            <h3 class="card-title">Web Board</h3>
                        </a>
                        <p class="card-description">
                            KMITL Webboard เป็นเว็บบอร์ดกลางของสถาบันสำหรับประกาศข่าวสาร เป็นแหล่งพบปะ พูดคุย
                            รวมถึงการตั้งกระทู้ถาม หรือสอบถามข้อมูลในหัวข้อต่างๆ ระหว่างนักศึกษา, อาจารย์,
                            บุคลากรภายในสถาบัน
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-background"
                     style="background-image: url('https://files.slack.com/files-pri/T1V5STT9N-F27MDD0HX/pasted_image_at_2016_09_02_07_09_pm.png')">
                    <div class="content">
                        <h3 class="card-title">KMI.TL</h3>
                        <p class="card-description">
                            KMI.TL เป็นบริการย่อ URL ให้สั้นลงภายใต้ kmi.tl/...
                            ซึ่งเปิดให้ใช้บริการได้ทั่วไป แต่ห้ามใช้เพื่อก่อให้เกิดหรือมีความผิดต่อกฎหมายเด็ดขาด
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
